<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayVue APP</title>
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
    <div class="container">
        <h1>PayVue APP</h1>
        
        <h2>Crear Cuenta</h2>
        <p class="subtitle">Ingrese su usuario, email y contraseña</p>
        
        <form id="loginForm">
            <div class="form-group">
                <input type="text" id="username" placeholder="Usuario" required>
            </div>
            <div class="form-group">
                <input type="text" id="username" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" placeholder="Contraseña" required>
            </div>
            <a href="/index.html"><button type="button" class="login-btn">Registrarse</button></a>
        </form>

        <div class="divider">
            <span>O inicia sesión con</span>
        </div>

        <button class="google-btn">
            <img src="https://raw.githubusercontent.com/juanmgg04/payvue/refs/heads/main/images/icons8-logo-de-google-48.png" alt="Google logo">
            Google
        </button>

        <div class="links">
            <a href="#">By clicking continue, you agree to our <b class="black">Terms of Service</b> and <b class="black">Privacy Policy</b></a>
        </div>
    </div>
    <script type="module" src="/js/register.js"></script>

</body>
</html>